*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

*.ap_
*.apk
*.aab
*.aar
*.o
*.so
*.class
*.jar
*.dex
*.env
*.log
*.keystore
/app/release
/app/debug